# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!CONTRIBUTING.md
!CHANGELOG
!*.gms

# Whitelist subdirectory
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *

!input/
!input/R/
!input/regions/
!input/time/
input/build/*
!algo/
!input/
!modules/
!post/
!tools/

#Calibrations
input/calibrations/build
input/calibrations/temp

# Always ignore
.DS_Store
.idea
.RData
.Rhistory
.Rproj.user
.vscode
rsconnect
*.gpr
*.gch
*.log
*.lst
*.lxi
*.par
*.Rproj
*.tar.gz
*.zip
*.~gm
~$*.*
*.Rprofvis
*/225*/
.#*
.svn
tools/python/*
venv/


!run_policies.sh
!conopt.opt
!conopt4.opt

*.gsp