# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!CONTRIBUTING.md
!*.gms

# Whitelist subdirectory
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *

!input/
!input/datasets/
!input/R/
!input/regions/
!input/time/
input/build/*
input/data/*
!algorithm/
!input/
!modules/
!post/
!tools/
!tools/magicc
tools/magicc/tmp/*

#Calibrations
input/calibrations/build
input/calibrations/temp

# Always ignore
.DS_Store
.idea
.RData
.Rhistory
.Rproj.user
.vscode
rsconnect
svn-commit.tmp
*.log
*.lst
*.lxi
*.par
*.tar.gz
*.zip
*.~gm
*.Rprofvis
*/225*/
.#*
.svn
tools/python/*
venv/
*.gpr
*.Rproj

input/data/
!run_policies.sh
!conopt.opt
!conopt4.opt